files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/98_install_flask_youtube.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            cd /opt/python/current/app
            . /opt/python/current/env
            source /opt/python/run/venv/bin/activate
            sh install_flask_youtube.sh

    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_migrate_database.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            cd /opt/python/current/app
            . /opt/python/current/env
            source /opt/python/run/venv/bin/activate
            export FLASK_APP=main.py
            if [ $WEBAPP_ENV = "Dev" ]; then
                rm -Rf migrations
                flask db init
            fi
            echo --------------------
            echo Generate migration DDL code
            echo --------------------
            flask db migrate
            echo --------------------
            echo Run the DDL code and migrate
            echo --------------------
            echo --------------------
            echo This is the DDL code that will be run
            echo --------------------
            flask db upgrade
            echo --------------------
            echo Generating test data
            echo --------------------
            flask test-data
            service httpd restart



